<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>figma2html</title>
</head>
<body>
    <h1>Welcome to figma2html</h1>
    <p>Copy and past the file name on your figma</p>
    <form action="" method="post">
        <input type="text">
        <button>Submit</button>
    </form>
</body>
</html>